body{
	background-color: white;
	overflow-x: hidden;
}

.nav-main{
	position: fixed;
	top: 0;
	width: 100%; /*nav go all the way from left to right*/
	height: 60px; /*nav height is 60 pixels*/
	background-color: #FFF;
	display: flex; /*allow to display the nav item in a row and not colums*/
	flex-direction: row;
	flex-wrap: wrap;
	z-index: 1000;
}

	.btn {	
		width: 60px;
		height: 100%;	
		background-color: #FFF;
		background-image: url('../images/btn2.png');
		background-repeat: no-repeat;
		background-size: 90%;
		background-position: center;
		cursor: pointer;
		z-index: 1000;
	}

	.btn:hover{
		opacity: 0.5;
	}

	.nav-main ul{
		display: flex;
		flex-wrap: wrap;
		padding-left: 15px;
	}

	.nav-main ul li{
		list-style: none;
		line-height: 60px;
	}

	.nav-main ul li a{
		display: block; /* Takes up the full width available, with a new line before and after  */
		height: 100%;
		padding: 0 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: #111;
		font-family: arial;
		font-size: 18px;
	}

	.nav-main ul li a:hover{
		background-color: #008080;
		opacity: 0.7;
	}

.nav-sidebar{
	position: fixed;
	left: 0;
	bottom: 0;
	top: 60px;
	width: 50px;
	height: calc(100vh - 60px);
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition: all 0.3s ease-in-out;
}

	.nav-sidebar ul{
		padding-top: 15px;
		overflow: hidden; /* makes sure that if there's a text that go out the container he will hidden */
		visibility: hidden; /* hide the text, i'll use js to change visibility when the menu bar button is clicked */ 
	}

	.nav-sidebar ul li{
		line-height: 60px;
		list-style: none;
	}

	.nav-sidebar ul li a{
		display: block;
		height: 60px;
		padding: 0 10px;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
		font-family: arial;
		font-size: 16px;
		white-space: nowrap; /* makes sure the text doesn't jump to the next line even if there's no space for it in the container */
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}

	.nav-sidebar ul li a:hover{
		background-color: #222;
	}


.title{
	background-image: url('../images/slide.jpg');
	background-repeat: no-repeat;
	margin-top: 60px;
	/*margin-right: auto;*/
	margin-left: 50px;
	padding: 40px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	z-index: 500;
	background-attachment: fixed;
    	background-position: center;
    	background-size: cover;
}

	.title h1{
		letter-spacing: 0.2em;
		font-size: 110px;
		padding-top: 120px;
	}

	.title h2{
		letter-spacing: 0.2em;
		font-size: 30px;
	}

	.btn-cv{
		padding-top: 150px;
	}

		.btn-cv:hover{
			opacity: 0.4;
		}

	.cv{
		background: transparent;
		border-width: 1px;
		border-style: solid;
		border-color: #FFF;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 60px;
		padding-right: 60px;
		text-decoration: none;
		font-size: 20px;
		color: #FFF;
	}


.transition{
	height: 40vh;
    background-image: url(../images/thinkingman.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 500;
    margin-right: auto;
    margin-left: 50px;
    padding: 40px;
    background-size: cover;
}

	.transition p{
		text-align:center;
		margin-top: 100px;
		font-size: 47px;
		font-family: cursive;
		color: cornsilk;
	}


#skills{
	padding-top: 100px; 
    padding-left: 300px; 
    text-decoration: none;
    color: #000000;
}


	#skills h2{
		font-family: 'Cormorant Unicase', serif;
		font-size: 45px;
		text-decoration: underline;
	}
	

	.back {
		margin-top: 52px;
		height: 150px;
		background-image: url(../images/logos/backend/java.jpg), url(../images/logos/backend/c.png), url(../images/logos/backend/cpp.png);
		background-size: 28%, 10%, 20%;
		background-repeat: no-repeat;
		position: relative;
		background-position: 1% 62%, 37% 47%, 67% 43%;
	}


	.front {
		height: 150px;
		background-image: url(../images/logos/front/js.jpeg), url(../images/logos/front/html.png), url(../images/logos/front/css.png);
		background-size: 13%, 20%, 14%;
		background-repeat: no-repeat;
		position: relative;
		background-position: 7% 131%, 37% 47%, 66% 71%;
	}

	.db {
		height: 150px;
		background-image: url(../images/logos/db/sql.png), url(../images/logos/db/neo4j.png), url(../images/logos/db/mongodb.jpeg);
		background-size: 12%, 21%, 18%;
		background-repeat: no-repeat;
		position: relative;
		background-position: 9% 91%, 37% 61%, 68% 42%;
		margin-bottom: 50px;
	}

	.back, .front, .db {
		padding: 14px;
	}


#about-me{
    background-size: 100% 100%;
    padding-top: 100px; 
    padding-left: 300px; 
    text-decoration: none;
	background-repeat: no-repeat;
    color: #000000;
}

	#about-me h2{
		font-family: 'Cormorant Unicase', serif;
		font-size: 45px;
		text-decoration: underline;
	}

	#about-me p{
		font-family: 'Just Another Hand', cursive;
		padding-top: 35px;
		padding-right: 190px;
		padding-bottom: 50px;
		font-size: 40px;
		/*color: #257446;*/
	}
	
	
footer{
	background-color: black;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	position: sticky;
    bottom: 0;
}


	
	
/*
	What we gonna do here? we gonna specify exactly how wide our screen needs to be in order for to start changing the design.
	Meaning, if we take our browser and start minimize the window sideways, how far we want it to go before saying, ok now we are on tablet
	or now we are on cellphone and now we need to change the style of our website.
*/


@media only screen and (max-width: 768px){
	
	.title{
		/*background-size: 100%;*/
	}
	
	.nav-sidebar{
		height: 100%;
	}

	.title h1{
		font-size: 55px;
		padding-top: 160px;
	}
	
	.title h2{
		font-size: 25px;
	}
	
	.btn-cv{
		padding-top: 120px;
	}

	.cv{
		padding-top: 12.5px;
		padding-bottom: 12.5px;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 12px;
	}
	
	#about-me{
		padding-top: 50px;
		padding-left: 150px;
	}

		#about-me h2{
			font-size: 30px;
		}

		#about-me p{
			padding-top: 35px;
			padding-right: 100px;
			padding-bottom: 50px;
			font-size: 25px;
		}
	
	
	.transition p{
		font-family: 'Acme', sans-serif;
	}
	
 	#skills {
    	 	padding-left: 113px;
	}
	
		#skills h2 {
		    font-size: 36px;
		}
	
	#about-me h2 {
		    font-size: 36px;
	}
		.back {
			    background-image: url(../images/logos/backend/c.png), url(../images/logos/backend/java.jpg), url(../images/logos/backend/cpp.png);
			    background-size: 20%, 48%, 36%;
			    background-position: 3% 53%, 47% 50%, 100% 44%;
		  }
	
		   .front {
			   background-image: url(../images/logos/front/js.jpeg), url(../images/logos/front/html.png), url(../images/logos/front/css.png);
			    background-size: 25%, 32%, 25%;
			    background-position: 0% 83%, 49% 59%, 92% 71%;
		   }
	
		   .db {
			    background-image: url(../images/logos/db/sql.png), url(../images/logos/db/neo4j.png), url(../images/logos/db/mongodb.jpeg);
			    background-size: 18%, 30%, 35%;
			    background-position: 9% 79%, 45% 73%, 96% 73%;
		   }
	footer{
		font-size: 13px;
	}
}

