body{
	background-color: #E2E9DF;
	/*background-image: url('../images/pic.jpeg');
	background-repeat: no-repeat; 
	background-size: 100%; */
	direction: ltr; /*text will go from left to right*/
}


.nav-main{
	position: fixed;
	top: 0;
	width: 100%; /*nav go all the way from left to right*/
	height: 60px; /*nav height is 60 pixels*/
	background-color: #FFF;
	display: flex; /*allow to display the nav item in a row and not colums*/
	flex-direction: row;
	flex-wrap: wrap;
	z-index: 1000;
}

/*btn2.png*/
.btn {	
	width: 60px;
	height: 100%;	
	background-color: #FFF;
	/*background-color: #008080;*/
	background-image: url('../images/btn2.png');
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	cursor: pointer;
	z-index: 1000;
}

.btn:hover{
	opacity: 0.5;
}

.nav-main ul{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
}

.nav-main ul li{
	list-style: none;
	line-height: 60px;
}

.nav-main ul li a{
	display: block; /* Takes up the full width available, with a new line before and after  */
	height: 100%;
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #111;
	font-family: arial;
	font-size: 18px;
}

.nav-main ul li a:hover{
	background-color: #008080;
	opacity: 0.7;
}

.nav-sidebar{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 50px;
	height: calc(100vh - 60px);
	padding: 0 5px;
	background-color: #1b1b1b;
	z-index: 1000;
	transition: all 0.3s ease-in-out;
}

.nav-sidebar ul{
	padding-top: 15px;
	overflow: hidden; /* makes sure that if there's a text that go out the container he will hidden */
	visibility: hidden; /* hide the text, i'll use js to change visibility when the menu bar button is clicked */ 
}

.nav-sidebar ul li{
	line-height: 60px;
	list-style: none;
}

.nav-sidebar ul li a{
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	font-family: arial;
	font-size: 16px;
	white-space: nowrap; /* makes sure the text doesn't jump to the next line even if there's no space for it in the container */
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover{
	background-color: #222;
}


.title{
	background-image: url('../images/slide.jpg');
	background-size: 100%;
	width: 100%-50px;	
	height: calc(100vh - 140px);
	margin-top: 60px;
	margin-right: auto;
	margin-left: 50px;
	padding: 40px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	z-index: 500;
}

.title h1{
	font-size: 110px;
	padding-top: 120px;
}

.title h2{
	font-size: 30px;
}

.btn-cv{
	padding-top: 150px;
}

.btn-cv:hover{
	opacity: 0.4;
}

.cv{
	background: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 60px;
	padding-right: 60px;
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
}

#about-me{
	padding-top: 100px;
	padding-left: 300px;
	background-image: url('../images/pic.jpeg');
	background-repeat: no-repeat; 
	background-size: 100%;	
	text-decoration: none;
	color: #000000;
}

#about-me h2{
	font-family: 'Cormorant Unicase', serif;
	font-size: 45px;
	text-decoration: underline;
}

#about-me p{
	font-family: 'Just Another Hand', cursive;
	padding-top: 35px;
	padding-right: 190px;
	padding-bottom: 50px;
	font-size: 40px;
	/*color: #257446;*/
}


footer{
	background-color: #008080;
	color: #FFF;
	font-size: 20px;
	text-align: center;
}

